@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --Moderatecyan: hsl(176, 50%, 47%);
  --Darkcyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Darkgray: hsl(0, 0%, 48%);
}

* {
  font-family: 'Commissioner', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
header {
  background-image: url(images/image-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  position: relative;
}
header > ul {
  list-style-type: none;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 80%;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  visibility: hidden;
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.5);
}
/* header > ul > li {
   text-align: center; 
   margin: 15px; 
} */
header > ul > li > a {
  text-decoration: none;
  color: var(--Black);
  padding: 25px 15px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: block;
}
header > ul > li > a:hover,
header > ul > li > a:focus {
  color: var(--Darkgray);
}
.menu-ham {
  cursor: pointer;
}
.card {
  width: 90%;
  max-width: 650px;
  margin: 20px auto;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.main-card {
  margin-top: -50px;
  position: relative;
}
.main-card > img {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.main-card > h2,
.main-card > p {
  margin: 18px 0;
  line-height: 1.5rem;
}
.btns {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}
.btns > a {
  text-decoration: none;
}
.btn-1 {
  color: white;
  background-color: var(--Moderatecyan);
  padding: 1rem 0.7rem;
  border-radius: 30px;
  text-decoration: none;
}
/* .btns > .btn-2 {
  padding: 2vw 1.5vw;
} */
.btn-1:hover,
.btn-1:focus {
  background-color: var(--Darkcyan);
}
.span-2 {
  display: none;
}

.num-card > h1 {
  margin: 15px;
}
.num-card > p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--Darkgray);
}
.num-card > hr {
  width: 100px;
  margin: 0 auto;
}
.progress-bar {
  width: 90%;
  height: 14px;
  background-color: #f4f4f4;
  border-radius: 30px;
  margin: 5px auto;
}
.progress {
  width: 89.914%;
  height: 100%;
  background-color: var(--Moderatecyan);
  border-radius: 30px;
}
.about-card,
.modal {
  text-align: left;
}
.about-card > h3,
.modal > h3 {
  margin: 15px 0;
}
.about-card > p,
.modal > p {
  margin: 20px 0;
  color: var(--Darkgray);
  line-height: 24px;
}
.product-card {
  width: 95%;
  margin: 15px auto;
  border: 1px solid var(--Darkgray);
  border-radius: 10px;
  padding: 15px;
}
.product-card > h4 {
  margin: 5px 0;
}
.product-card > p {
  margin-bottom: 20px;
  color: var(--Moderatecyan);
}
.product-card > small {
  display: block;
  margin: 15px 0;
  font-size: 15px;
  color: var(--Darkgray);
  line-height: 25px;
}
.product-card > h1 {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.product-card > h1 > span {
  color: var(--Darkgray);
  font-weight: 400;
  font-size: 16px;
  margin: 7px;
}
.product-card > a {
  display: inline-block;
  margin: 10px 0;

  padding: 15px 30px;
}
.disabled * {
  color: var(--Darkgray);
}
.disabled > a {
  color: white;
  background-color: #cbcbcb;
}
.disabled > a:hover,
.disabled > a:focus {
  background-color: #cbcbcb;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header > img {
  cursor: pointer;
}
.modal-input > .input-row {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'input label'
    'input p';
  align-items: center;
  justify-content: start;
  margin: 10px 0;
}
.modal-input > .input-row > input {
  grid-area: input;
  border: 0px;
  width: 2rem;
  height: 2em;
  color: var(--Moderatecyan);
}

.input-row > label {
  grid-area: label;
}
.input-row > p {
  grid-area: p;
  color: var(--Moderatecyan);
}
.dark-grey {
  color: var(--Darkgray) !important;
}

.pledge-input {
  display: none;
  width: 100%;
  margin: 15px auto;
}
.pledge-input > small {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
.pledge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
.pledge-form > input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: 1px solid var(--Darkgray);
}
.pledge-form > input::placeholder {
  font-weight: bold;
}

.selected .pledge-input {
  display: block;
}
.selected {
  border: 2px solid var(--Moderatecyan);
}

.success-modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.5);
}
.success-modal * {
  margin: 15px 0;
}
.success-modal > small {
  display: block;
  font-size: 16px;
}
.success-modal > a {
  display: block;
  width: 100px;
  margin: 10px auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 769px) {
  .nav {
    position: static;
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    box-shadow: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0;
  }
  .nav > li {
    margin: 0;
    padding: 0;
  }
  .nav > li > a {
    color: white;
    margin: 0;
    padding: 0 15px;
  }
  .nav > hr {
    display: none;
  }
  .menu-ham {
    display: none;
  }

  .span-2 {
    display: block;
    color: var(--Darkgray);
    padding: 1rem;
  }
  .btn-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 30px;
  }

  .pledge-form {
    flex-direction: row;
  }
}
